.App {
  background-color: #000000;
  overflow-x: hidden;
}

.text-gold {
  color: #C6AB52;
}

.section-title {
  font-family: 'Montserrat', sans-serif;
}

/* Utilidades globais */
.bg-black {
  background-color: #000000;
}

.bg-gray {
  background-color: #111111;
}

.text-rico {
  color: #E0E0E0;
}